<header class="page-header">
	<div class="page-header-titles">
		<h1 class="page-title"><a href="/"><span class="page-icon"><div id="logo"></div> North Shore Youth Symphonic Wind Band</span></a></h1>
		<!-- <h2 class="page-subtitle"><a href="/">North Shore Youth Symphonic Wind Band</a></h2> -->
	</div>
	<nav class="page-navigation">
		<ul class="page-navigation-links inline-list">
			<li><a href="/news"><i class="icon-th-large"></i> News</a></li>
			<li><a href="/events"><i class="icon-calendar"></i> Events</a></li>
			<li>
				<a href="mailto:nsyswb.admin@gmail.com"><i class="icon-envelope"></i> Email</a>
			</li>
			<li>
				<a href="https://www.facebook.com/NSYSWB"><i class="icon-facebook-sign"></i> Facebook</a>
			</li>
		</ul>
	</nav>
</header>
